{{#with data}}
    <div class="card">
        <div>
            <img src="{{photo}}" alt="Articles photo" class="articles_image" id="{{id}}">
            <h4 class="articles_name">{{name}}</h4>
            <p class="articles_description">{{description}}</p>
            <a class="button articles_button" href="{{path}}">Read All</a>
        </div>
    </div>
{{/with}}        